<div class="logout-modal" id="logoutModal">

    <div class="logout-modal-content">

        <div class="logout-warning-icon">
            ⚠
        </div>

        <h2>¿Cerrar sesión?</h2>

        <p>
            ¿Seguro que deseas cerrar sesión?
        </p>

        <div class="logout-actions">

            <button id="cancelLogoutBtn" class="logout-cancel">
                No
            </button>

            <button id="confirmLogoutBtn" class="logout-confirm">
                Cerrar sesión
            </button>

        </div>

    </div>

</div>